extends layout

block content
    hr
    p Nom : #{category}
    hr
    p.font-weight-bold Etes vous sûr de vouloir supprimer ce rayon ?
    button.btn.btn-primary(type='submit')  Supprimer le rayon
    p
    button.btn.btn-primary(type='submit')  Annuler